admin==0.0.1
asn1crypto==0.24.0
Brlapi==0.6.7
certifi==2018.8.24
chardet==3.0.4
cryptography==2.6.1
cupshelpers==1.0
entrypoints==0.3
feedparser==5.2.1
httplib2==0.18.0
idna==2.6
keyring==17.1.1
keyrings.alt==3.1.1
louis==3.8.0
mss==5.1.0
musicbrainzngs==0.6
mutagen==1.40.0
olefile==0.46
pexpect==4.6.0
Pillow==5.4.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
PyGObject==3.30.4
pyinotify==0.9.6
pynput==1.6.8
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
python-apt==1.8.4.1
python-debian==0.1.35
python-debianbts==2.8.2
python-xlib==0.27
pyxdg==0.25
quodlibet==4.2.1
reportbug===7.5.3-deb10u1
reportlab==3.5.13
requests==2.21.0
SecretStorage==2.3.1
six==1.12.0
termcolor==1.1.0
urllib3==1.24.1
